@page "/hellotimer"

<h1>Hello @Name, from Blazor</h1>

@if (!string.IsNullOrEmpty(Name))
{
    <div class="alert alert-info">
        @SayHello(Name), time is<br />
        <i class="oi oi-clock"></i>
        <small><i>@DateTime.Now.ToString("MMM dd, yyyy - HH:mm:ss")</i></small>
    </div>
}

<TimeDisplay Message="Timing is everything!" 
             FormatString="HH:mm:ss" />

<hr/>

<button class="btn btn-primary"
        onclick="@IncrementCount">
    Increment Count:
    <b class="green-text">@currentCount</b>
</button>

@functions {
    string Name = "Rick";
    int currentCount = 0;



    protected override Task OnInitAsync()
    {
        return base.OnInitAsync();
    }

    void IncrementCount() => currentCount++;

    string SayHello(string name)
    {
        return $"Welcome back, {name}";
    }
}   