@page "/interop"
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@inject HttpClient Http

<h1>Interop Basics</h1>


<input id="txtName" bind="Name"class="form-control" placeholder="Enter your name"/>
<p>
    <button onclick=@CallJS>Call JavaScript</button>
</p>
<p>
    <button id="btnCallDotNet">Call .NET</button>
</p>

@functions {
    string Name { get; set; }

    protected override Task OnAfterRenderAsync()
    {
        RegisteredFunction.Invoke<bool>("focus", "#txtName");
        return OnAfterRenderAsync();
    }

    private async void CallJS()
    {
        //RegisteredFunction.Invoke<bool>("focus", "#txtName");

    }    
}